<div class="row">
    <div class="col-md-12"><img src="~/Content/images/logo.png" class="logo" /></div>
</div>
<div class="row">
    <div class="col-md-12 home-section">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 home-section-right-box">
                <div class="home-section-right-box-header">Konto osobiste<br>za prawdziwe 0zł!</div>
                <ul class="home-section-right-box-list">
                    <li class="home-section-right-box-list-item">0zł za założenie i prowadzenie konta,</li>
                    <li class="home-section-right-box-list-item">0zł za wyrobienie karty debetowej,</li>
                    <li>0zł za przelewy krajowe!</li>
                </ul>
                <div class="text-center home-section-button-align">
                    @*<a class="home-section-button" href="">zarejestruj</a>*@
                    @Html.ActionLink("zarejestruj", "Register", "Account", new {}, new { @class = "home-section-button" })
                </div>
            </div>
        </div>
    </div>
</div>