<div class="row">
    <div class="col-md-12"><img src="~/Content/images/logo.png" class="logo" /></div>
</div>
<div class="row">
    <div class="col-md-12 home-section">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5 home-section-right-box">
                <div class="home-section-right-box-header">Konto osobiste<br>za prawdziwe 0zł!</div>
                <ul class="home-section-right-box-list">
                    <li class="home-section-right-box-list-item">0zł za założenie i prowadzenie konta,</li>
                    <li class="home-section-right-box-list-item">0zł za wyrobienie karty debetowej,</li>
                    <li>0zł za przelewy krajowe!</li>
                </ul>
                <div class="text-center home-section-button-align">
                    @*<a class="home-section-button" href="">zarejestruj</a>*@
                    @Html.ActionLink("zarejestruj", "Register", "Account", new {}, new { @class = "home-section-button" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row second-section">
    <div class="col-md-4 text-center">
        <img src="~/Content/images/pig.png" class="second-section-image" />
        <div class="second-section-header">Lokata 3,2%</div>
        <div class="second-section-text">Oszczędzaj z naszą 3-miesięczną lokatą dla nowych klientów, dołącz do nas i sprawdź ile zyskasz.</div>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/Content/images/money.png" class="second-section-image" />
        <div class="second-section-header">Kredyt</div>
        <div class="second-section-text">Już wkrótce w naszej placówce zaczniemy udzielać nisko oprocentowanych kredytów studenckich.</div>
    </div>
    <div class="col-md-4 text-center">
        <img src="~/Content/images/card.png" class="second-section-image" />
        <div class="second-section-header">Karta</div>
        <div class="second-section-text">Oferujemy darmową kartę debetową dla każdego naszego klienta.</div>
    </div>
</div>