body {
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: 'Catamaran', sans-serif;
    color: #37474F;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-20 {
    margin-top: 20px;
}

.logo {
    width: 200px; 
    padding-bottom: 30px;
}

.home-section {
    background-image: url(/Content/images/background.jpg);
    height: 550px;
    background-size:cover;
    margin-left: 15px;
    margin-right: 15px;
}

.home-section-right-box {
    background-color: rgba(255, 255, 255, 0.6);
    height: 550px;
}

.home-section-right-box-header {
    font-size: 58px;
    font-weight: 600;
    line-height: 54px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.home-section-right-box-list {
    font-size: 28px;
    line-height: 32px;
    padding-top: 30px;
    font-weight: 400;
    color: #263238;
}

.home-section-right-box-list-item {
    padding-bottom: 5px;
}

.home-section-button {
    background-color: #0097A7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    position: relative;
    left: -50%;
}

.home-section-button:hover {
    background-color: #00BCD4;
    text-decoration: none;
    color: white;
}

.home-section-button:active {
    position:relative;
    top:2px;
}
.home-section-button:focus {outline:0;}

.home-section-button-align {
    position: absolute;
    bottom: 30px;
    left: 50%;
}

.second-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.second-section-image {
    width: 170px;
}

.second-section-header {
    font-size: 28px;
    font-weight: 600;
}

.second-section-text {
    font-size: 20px;
    font-weight: 200;
    padding-left: 30px;
    padding-right: 30px;
}

.second-section-common-text {
    font-size: 18px;
    font-weight: 100;
}

.second-section-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
}

.second-section-button {
    background-color: white;
    border: 4px;
    border-style: solid;
    border-radius: 2px;
    border-color: #37474F;
    color: #37474F;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: relative;
}

.second-section-button:hover {
    background-color: #00BCD4;
    text-decoration: none;
    color: white;
}

.second-section-button:active {
    position:relative;
    top:2px;
}
.second-section-button:focus {outline:0;}

.third-section {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #FFCC80;
    padding-bottom: 30px;
}

.third-section-header {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 30px;
}

.third-section-minor-header {
    font-size: 28px;
    font-weight: 400;
}

.third-section-text {
    font-size: 20px;
    font-weight: 200;
}

.third-section-text-margin {
    margin-bottom: 10px;
}

/*zamienić*/
.form-section {
    height: 120px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 15px;
    margin-right: 15px;
}

.form-comment {
    font-size: 20px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.form-comment-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
}
/*-------------*/